

* {
	color: rgb(97, 102, 102);
}

.loginLink {

    text-align: center;
    padding-top: 5rem;
}

div.loginLink a {
	text-decoration: none;
}

.welcomeLogo {

    padding: 3rem;
    width: 30px;
}
img {
    max-width: 100%;
}

div.text, div.image {
    text-align: center;
}

div.text p {
    margin: 0 25%;
}
.news {
	background-color: #000;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0px 64px, center;
	color: #FFF;
}

.news .articles {
	padding-top: 235px;
	padding-bottom: 20px;
}

.news article {
	padding: 0 40px;
	margin-bottom: 30px;
}

.news article h2 {
	color: #FFF;
	font-family: 'Futura-CondensedExtraBold', 'sans serif';
	font-size: 1.6em;
	letter-spacing: -1px;
	margin: 0;
}

.news article h3 {
	color: #FFF;
	font-size: .9em;
	margin: 0;
}

.pane[view-title=Welcome] div.text.section {
  color: #777777;
  font-size: 14px;
}

.pane[view-title=Welcome] .scroll {
  width: 100%;
  height: 100%;
}

.pane[view-title=Welcome] .text.section h1,
.pane[view-title=Welcome] .text.section h2,
.pane[view-title=Welcome] .text.section h3,
.pane[view-title=Welcome] a.button-positive,
.pane[view-title=Welcome] button {
  color: #777777;
}

.pane[view-title=Welcome] .text.section {
  padding: 0.5rem;
}

.pane[view-title=Welcome] .text.section:first-child {
  position: absolute;
  width: 100%;
  top: 2rem;
}

.pane[view-title=Welcome] .image.section{
  width: 100%;
  position: absolute;
  top: 50%
}

.pane[view-title=Welcome] .loginLink {
  position:absolute;
  width: 100%;
  bottom: 2rem;
}


