<ion-view title="Location">
    <ion-content class="location" scroll="false">

        <div class="map-view">
            <google-map zoom="12"
                        maptype="roadmap"
                        center="origin"
                        markers="locations"
                        refresh="showMap"
                        cq-on-info-click="details(object, '#/app/location/details') ">
                Loading map...
            </google-map>
        </div>

        <div class="list-view">
                <ion-scroll>
                    <ion-list>
                        <ion-item ng-repeat="location in locations">
                            <div class="locationcard">
                                <div>
                                    <div class="cardimagecontainer">
                                        <ion-slide-box>
                                            <ion-slide>
                                                <img ng-src="{{location.imgUrl1}}" class="cardimage">
                                            </ion-slide>
                                            <ion-slide>
                                                <img ng-src="{{location.imgUrl2}}" class="cardimage">
                                            </ion-slide>
                                            <ion-slide>
                                                <img ng-src="{{location.imgUrl3}}" class="cardimage">
                                            </ion-slide>
                                        </ion-slide-box>
                                    </div>
                                    <div class="locationInfo">
                                        <h3>{{location.title}}</h3>
                                        <p>{{location.address}}</p>
                                    </div>
                                </div>

                                <a class="locationDetails" href="#/app/location/details/{{location.detailsUrl}}">
                                    <b>Details</b>
                                </a>
                                </a>
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-scroll>
            </div>

    </ion-content>
</ion-view>
