<ion-view view-title="News and Events" class="">
  <ion-content class="news ">
	<div class="articles">
		<article>
			<img src="img/news/bonds_garage.jpg" />
			<header>
				<h2>November 2015</h2>
				<h3>We drive the stars of Spectre</h3>
			</header>
		</article>

		<article>
			<img src="img/news/driver.jpg" />
			<header>
				<h2>WHAT DO YOU THINK?</h2>
				<h3>Let us know if our quick survey...</h3>
			</header>
		</article>

		<article>
			<img src="img/news/por.jpg" />
			<header>
				<h2>The News</h2>
				<h3>Stuff that's happening right now</h3>
			</header>
		</article>

		<article>
			<img src="img/news/oil.jpg" />
		</article>

		<article>
			<img src="img/news/magazines.jpg" />
			<header>
				<h2>Issues</h2>
				<h3>Browse our virtual library</h3>
			</header>
		</article>
	</div>
  </ion-content>
</ion-view>
