<ion-view>
    <ion-nav-title>
        {{profileData.firstName}}
    </ion-nav-title>
    <ion-content class="profile" scroll="false">

            <div class="profile-top-section">
                <div class="profile-image">
                    <img class="avatar" ng-src="{{getImage()}}"/>
                </div>
            </div>
            <div class="profile-bottom-section">
                <div class="profile-text">
                    <p>{{profileData.firstName}} {{profileData.lastName}}</p>
                    <p>{{profileData.email}}</p>
                </div>
            </div>

        <p class="profile-error-message" ng-show='errorMessage'>{{errorMessage}}</p>

        <a class="profile-button-edit button button-full button-dark" href="#/app/profileupdate">
            EDIT
        </a>

    </ion-content>
</ion-view>
