<ion-view>
    <ion-nav-title>
        {{profileData.firstName}}
    </ion-nav-title>
    <ion-content class="profile" scroll="false">

            <div class="profile-top-section">
                <div class="profile-image">
                    <img class="avatar" ng-src="{{getImage()}}"/>
                </div>
            </div>
            <div class="profile-bottom-section">
                <div class="profile-text">
                    <p>{{profileData.firstName}} {{profileData.lastName}}</p>
                    <p>{{profileData.email}}</p>
                </div>
            </div>

        <p class="profile-error-message" ng-show='errorMessage'>{{errorMessage}}</p>

        <div class="profile-buttons">
            <a class="button button-clear icon" ng-click="$parent.logout()">
                <i class="profile-button-text ion-log-out"></i>
            </a>
            <a class="button button-clear icon" href="#/app/profileupdate">
                <i class="profile-button-text ion-ios-gear-outline"></i>
            </a>
        </div>

    </ion-content>
</ion-view>
