<div data-sly-use.locationHelper="${ 'com.adobe.ionicapp.sly.LocationHelper' @ page=resourcePage }" data-sly-unwrap>
    <ion-view view-title="${properties.jcr:title}">
        <ion-content class="location-detail">
            <div class="card">
                <div class="item item-divider">
                    <h2>${properties.jcr:title}</h2>
                    <p>${locationHelper.address}</p>
                    <div data-sly-resource="${ @path='subtext', resourceType='foundation/components/text' }"></div>
                </div>
                <div class="item tabs">
                    <a class="tab-item" ng-click="phone($event, '${locationHelper.phone}')">
                        <i class="icon ion-ios-telephone"></i>
                    </a>
                    <a class="tab-item" ng-click="showMap($event, '${locationHelper.address}')">
                        <i class="icon ion-ios-location"></i>
                    </a>
                    <a class="tab-item" ng-click="directions($event)">
                        <i class="icon ion-ios-navigate"></i>
                    </a>
                </div>
                <div class="item item-body">
                        <div class="hero-image">
                            <div data-sly-resource="${ @path='hero', resourceType='foundation/components/image' }"></div>
                        </div>
                        <p>${locationHelper.description}</p>
                        <p>${properties.jcr:description}</p>
                        <div data-sly-resource="${ @path='content-par', resourceType='foundation/components/parsys' }" data-sly-unwrap></div>
                </div>
            </div>
        </ion-content>
    </ion-view>
</div>

