/* Empty. Add your own CSS if you like */
@charset "UTF-8";

/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/

img, object, embed, video {
    max-width: 100%;
}

body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
    background: #E3E3E3;
}

div.page-center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: 200px; /* Half the height */
    margin-left: -50px; /* Half the width */
}

#linear-gradient {
    background: -webkit-linear-gradient(#fff, #999999); /*Safari 5.1-6*/
    background: -o-linear-gradient(#fff, #999999); /*Opera 11.1-12*/
    background: -moz-linear-gradient(#fff, #999999); /*Fx 3.6-15*/
    background: linear-gradient(#fff, #999999); /*Standard*/
}

.button.ng-hide{
    display:none;
}

.connectmessage {
    margin-top: 5rem;
    text-align: center;
}


.scroll-view {
    height: 100%;
}

/* Placeholder Template Styles */
.placeholder {
    margin-top: 50%;
    margin-bottom: 50%;
}
.placeholder h3 {
    color: #999999;
}

/* ################ */
/* Title Bar Style  */
/* ################ */

.bar-header .title {
    color: #777777;
}

/* ################## */
/* Fly out menu style */
/* ################## */

/* Push menu down below header image */
.menu-left .scroll-content {
    top: 200px !important;
}

.menu-left .item {
    border-color: #fff;
}

.menu-left .list {
    padding-top: 10px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.menu-left .item-divider {
    height: 1px;
    padding: 0;
    min-height: 3px;
    background: #f1f1f1;
    margin: 10px;
}

.menu-left .bar-header {
    min-height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.menu-left { }

.menu-left .scroll-content { }

.avatar {
    width:150px;
    height:150px;
    margin: 10px;
    border:5px solid #F5F5F5;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

/* ################## */
/*   Login style      */
/* ################## */

.login-Modal .scroll {
    height: 100%;
}

.login-Modal, .login-Modal h1,
.login-Modal h2, .login-Modal h3,
.login-Modal input[type=text],
.login-Modal input[type=password],
.login-Modal .button.button-positive.button-clear {
    color: #777777;
}

.login-Modal input[type=text],
.login-Modal input[type=password] {
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #999999;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.login-Auth-title {
    padding-top: 5rem;
}

.login-Auth-oauth {
    text-align: center;
    margin-top: 2rem;
}

.login-Auth-oauth button {
    display: table-cell;
}

.login-Modal-close {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 2rem;
    color: #777777;
}

.icon-login {
    font-size: 2.5rem;
}

/* ################## */
/* Locations style    */
/* ################## */

.location .map-view,
.location .map-view > div {
    height: 100%;
    width: 100%;
}

.location .list-view {
    height: 100%
}

.location .list-view .item-button-right button {
    top: auto;
    bottom: 8px;
}

.location .list-view .item {
    padding: 0.25rem;
    margin: 0.25rem;
    border: solid 1px #D9D9D9;
}

.location .list-view .cardimagecontainer {
    max-height: 15rem;
    margin-bottom: 0.5rem;
    overflow:hidden;
}

.location .list-view .cardimage {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.location .list-view .locationHeart {
    float: left;
    margin-right: 0.25rem;
    padding-top: 1rem;
}

.location .list-view .locationHeart i{
    font-size: 1.5rem;
}

.location .list-view .locationDetails {
    color: #FFFFFF;
    white-space: nowrap;
    background: #777777;
    display: inline;
    float: right;
    padding: 0.7rem;
    margin-top: 0.25rem;
    text-decoration: none;
}

.location .list-view .locationDetails b {
    color: #FFFFFF;
}

.location .list-view .item-button-right .locationInfo {
    padding-right: 80px;
}

.location .list-view .locationInfo {
    float: left;
    padding-top: 0.65rem;
    width: 100%;
}

.location .list-view .locationInfo h3 {
    margin-bottom: 0;
}

.location .list-view .locationInfo p {
    color: #000000;
    font-size: small;
    white-space: normal;
}

.cq-image-placeholder {
    display: none;
}

/* ################## */
/* Profile Style      */
/* ################## */

.profile-image {
    float: left;
    margin-right: 0.5rem;
}

.profile-image img {
    height: 5rem;
    width: 5rem;
    margin: 0;
}

.profile-no-image-placeholder {
    color: #777777;
    border: solid 1px #777777;
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
    width: 5rem;
    height: 5rem;
}

.profile input {
    border: solid 1px #777777;
    border-radius: 5px;
    color: #777777;
    margin-bottom: 0.75rem;
    padding: 0.5rem;
}

.profile-top-section, .profile-bottom-section {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: auto;
    width: 20rem;
}

.profile-top-section {
    margin-top: 25%;
}

.profile-user-names input {
    width: 13.5rem;
}

.profile-bottom-section {
    clear: both;
}

.profile-save {
    position: absolute;
    bottom: 0;
}

.profile-bottom-section input {
    width: 100%;
}

.profile button {
    width: 100%;
    background-color: #777777;
    color: #FFFFFF;
    border: none;
    border-radius: 0;
}

.profile-success-message, .profile-error-message {
    width: 19.27rem;
    text-align: center;
    margin: auto auto;
    color: #777777;
}