<ion-view view-title="Location - placeholder">
    <ion-content>
        <div class="list card">

            <div class="item item-avatar">
                <h2>Placeholder Location</h2>
                <p>Fake Address</p>
            </div>

            <div class="item item-body">
                <p>Description</p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="phone($event, '613-555-1212')">
                    <i class="icon ion-ios-telephone"></i>
                </a>
                <a class="tab-item" ng-click="showMap($event, '343 Preston St. Ottawa ON Canada')">
                    <i class="icon ion-ios-navigate"></i>
                </a>
                <a class="tab-item" ng-click="share($event, '343 Preston St. Ottawa ON Canada')">
                    <i class="icon ion-share"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>

